body { background-color: #fff; }

body, p, ol, ul, td {
  font-family: "segoe ui", segoe, tahoma, verdana, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #0044cb; text-decoration: underline;}
a:visited { color: #1155dc; }
a:hover { text-decoration: none;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#cloud {
	background-color: #66DDEE;
}

#body {
	padding: 0px;
}

#banner {
	background-color: #680000;
	color: #fff;
	padding: 10px;
}

#banner a {
	color: #fff;
}

#sign_in {
	text-align: right;
}

#title {
	text-align: left;
	font-family: impact, fantasy, serif;
	color: #fff;
	font-size: 48px;
	padding: 15px 0px 15px 15px;
}

#navigation {
	width: 100%;
	height: 60px;
}

#navigation ul {
	list-style-type: none;
	margin: 0;
}

#navigation li {
	float: left;
	padding: 5px;
}

#navigation a {
	display: block;
	width: 175px;
}

#navigation a:link, #navigation a:visited {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #A0A0A0;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation a:hover, #navigation a:active {
	background-color: #680000;
}


#new_entry {
	padding: 0 0px 0 0;
	text-align: right;
	width: 100%;
}

#search_type  {
	padding: 5px 0 10px 5px;
}

#search_options {
	background-color: #D0D0D0;
	padding: 10px;
}

#search_options table, #search_options td, #search_options th {
	table-layout: fixed;
	border: 0px;
	border-style: none;
	width: 100%;
}

#search_results {
	display: inline;
	width: 80%;
}

#search_results table, #search_results td, #search_results th {
	table-layout: auto;
	border: 0px;
	border-style: none;
	width: 100%;
}

#search_findings {
	display: inline;
}

#search_experiments {
	display: inline;
}

#search_papers {
	display: inline;
}

#browse_col_1 {
	width: 50%;
	float: left;
}

#browse_col_2 {
	width: 50%;
	float: right;
}

#filters {
	float: left;
	width: 20%;
}

#content {
	float: right;
	width: 80%;
}

#search_findings table, #search_findings th, #search_findings td{
	border: 1px solid black;
	table-layout: auto;
	width: 100%;
}

#search_experiments table, #search_experiments th, #search_experiments td{
	border: 1px solid black;
	table-layout: auto;
	width: 100%;
}

#search_papers table, #search_papers th, #search_papers td{
	border: 1px solid black;
	table-layout: auto;
	width: 100%;
}

#footer {
	clear: both;
	background-color: #680000;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.css1 {font-size: 1.0em; color: white; text-decoration: none; padding: 10px; }
.css2 {font-size: 1.2em; color: magenta; text-decoration: none; padding: 10px; }
.css3 {font-size: 1.4em; color: green; text-decoration: none; padding: 10px; }
.css4 {font-size: 1.6em; color: purple; text-decoration: none; padding: 10px; }
.css5 {font-size: 1.8em; color: orange; text-decoration: none; padding: 10px; }
.css6 {font-size: 2.0em; color: brown; text-decoration: none; padding: 10px; }
