#form_title {
	width: 1010px;
	padding:0 5px 0px 5px;
	background:grey;
	color:white;
	border:2px solid grey;
	margin: auto;
}

#form_body {
	width: 1000px;
	padding:10px;
	text-align:center;
	border:2px solid grey;
	margin: auto;
	margin-bottom: 30px;
}

#heading {
	width: 1000px;
	overflow: auto;
}

#large_check_box {
	float: left;
	width: 40px;
	clear: both;
}

#large_check_box_active {
	float: left;
	width: 40px;
	padding: 5px 0 5px 0;
	clear: both;
}

#medium_check_box {
	float: left;
	width: 30px;
	margin: 0 0 0 50px;
	clear: both;
}

#medium_check_box_active {
	float: left;
	width: 30px;
	margin: 0 0 0 50px;
	padding: 10px 0 10px 0;
	clear: both;
}

#small_check_box {
	float: left;
	width: 20px;
	margin: 0 0 0 90px;
	padding-top: 3px;
	clear: both;
}

#small_check_box_active {
	float: left;
	width: 20px;
	margin: 0 0 0 90px;
	padding: 10px 0 10px 0;
	clear: both;
}

#mini_check_box {
	float: left;
	width: 20px;
	margin: 15px 0 0 140px;
	clear: both;
}

#large_heading_active {
	float: right;
	width: 940px;
	padding: 15px 10px 15px 10px;
	background:#BFEFFF;
	text-align:left;
	font-size:20px;
	font-weight:bold;
}

#large_heading_inactive {
	float: right;
	width: 940px;
	padding: 10px;
	text-align:left;
	font-size:20px;
	font-weight:bold;
}

#large_heading_disabled {
	float: right;
	width: 940px;
	padding: 10px;
	background:#fff;
	text-align:left;
	color:grey;
	font-size:20px;
	font-weight:bold;
}

#medium_heading_active {
	float: right;
	width: 900px;
	padding: 15px 10px 15px 10px;
	background:#BFEFFF;
	text-align:left;
	font-size:16px;
	font-weight:bold;
}

#medium_heading_inactive {
	float: right;
	width: 900px;
	padding: 5px 10px 5px 10px;
	text-align:left;
	font-size:16px;
	font-weight:bold;
}

#medium_heading_disabled {
	float: right;
	width: 900px;
	padding: 5px 10px 5px 10px;
	background:#fff;
	text-align:left;
	color:grey;
	font-size:16px;
	font-weight:bold;
}

#small_heading_active {
	float: right;
	width: 870px;
	padding: 15px 10px 15px 10px;
	background:#BFEFFF;
	text-align:left;
	font-size:14px;
	font-weight:bold;
}

#small_heading_inactive {
	float: right;
	width: 870px;
	padding: 5px 10px 5px 10px;
	text-align:left;
	font-size:14px;
	font-weight:bold;
}

#small_heading_disabled {
	float: right;
	width: 870px;
	padding: 0px 10px 0px 10px;
	background:#fff;
	text-align:left;
	color:grey;
	font-size:14px;
	font-weight:bold;
}

#mini_heading_active {
	float: right;
	width: 800px;
	padding: 0 0 0 20px;
	background:#BFEFFF;
	text-align:left;
}

#mini_heading_inactive {
	float: right;
	width: 800px;
	padding: 0 0 0 20px;
	text-align:left;
}

#mini_heading_disabled {
	float: right;
	width: 800px;
	padding: 0 0 0 20px;
	background:#fff;
	text-align:left;
	color:grey;
}

#inner {
	width:800px;
	padding:10px;
	margin: auto;
}

#inner_title {
	padding: 0px 20px 0 20px;
	background-color: #FAFAD2;
	border: 2px solid grey;
	color: #grey;
	width: 750px;
	margin: auto;
}

#inner_table {
	padding: 5px;
	background: #fff;
	border-top: 0;
	border-bottom: 2px solid grey;
	border-right: 2px solid grey;
	border-left: 2px solid grey;
	text-align:left;
	width: 780px;
	margin: auto;
	overflow: auto;
}

#form_heading {
	float: left;
	width: 175px;
	font-weight: bold;
}

#form_text {
	float: left;
	width: 500px;
	text-align: left;
}

#submit {
	clear: both;
	text-align: right;
}

#field {
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}

#outer_section {
	padding: 10px;
	overflow:auto;
}

#inner_section {
	padding: 20px;
	background:#F0FFF0;
	border: 1px solid #D3D3D3;
	overflow: auto;
}

#checkbox {
	width: 50%;
	float: left;
}
#checkbox_right {
	width: 50%;
	float: left;
}

#heading_left {
	width: 25%;
	float: left;
}

#heading_right {
	width: 75%;
	float: left;
	padding-top: 10px;
}

#heading a:link {
	color: black;
	text-decoration: none;
}

#heading a:hover {
	color: black;
	text-decoration: underline;
}

#heading a:visited {
	color: black;
	text-decoration: none;
}

#hidden_links a:link {
	color: blue;
	padding-left: 5px;
	padding-right: 5px;
}

#hidden_links a:hover {
	color: blue;
	padding-left: 5px;
	padding-right: 5px;
}

#hidden_links a:visited {
	color: blue;
	padding-left: 5px;
	padding-right: 5px;
}

#hidden_links {
	font-size: 14px;
	font-weight: normal;
	float: right;
}