<div id="form_title">
	<center><h1>ADD NEW PUBLICATION</h1></center>
</div>

<div id="form_body">
	<% if @experiment.exp_type == 0 %>
		<%= render '/forms/controlled' %>
	<% else %>
		<%= render '/forms/practical' %>
	<% end %>
</div>