<p id="notice"><%= notice %></p>
<div id="form_title">
	<center><h1>Add User Task Details</h1></center>
</div>
<div id="form_body">
	<%= render '/forms/exp_task' %>
</div>
<%= link_to 'Back', paper_experiment_path(@paper,@experiment) %>